script(src="js/parts/index/traderlist.min.js")
.container
  .row
    .col-sm-12
      .mn-trader-line-main
        .mn-trader-line-main__results 30 трейдеров
        .mn-trader-line-main__item Прибыль
        .mn-trader-line-main__item Ср. риск
        .mn-trader-line-main__item Макс. просадка
        .mn-trader-line-main__item Ср. сделок в неделю
        .mn-trader-line-main__item Копируют
    .col-sm-12
      .mn-trader-line
        .mn-trader-line__person-data
          .mn-trader-line__logo
          .mn-trader-line__info
            .mn-trader-line__info__block
              p.mn-trader-line__info__block-name buyanprofitfx
                span.new new
              div.mn-trader-line__info__block-coins
                img(src="img/svg/btc.svg" title="bitcoin")
                img(src="img/svg/bitmex.svg" title="bitmex")
                button.copy-trader Копировать
          .mn-trader-line__profit 47.76%
          .mn-trader-line__risk
            span 1
          .mn-trader-line__lesion -22.97%
          .mn-trader-line__deals 7
          .mn-trader-line__copies 0
    .col-sm-12
      .mn-trader-line
        .mn-trader-line__person-data
          .mn-trader-line__logo
          .mn-trader-line__info
            .mn-trader-line__info__block
              p.mn-trader-line__info__block-name buyanprofitfx
                span.new new
              div.mn-trader-line__info__block-coins
                img(src="img/svg/btc.svg" title="bitcoin")
                img(src="img/svg/bitmex.svg" title="bitmex")
                button.copy-trader Копировать
          .mn-trader-line__profit 47.76%
          .mn-trader-line__risk
            span 1
          .mn-trader-line__lesion -22.97%
          .mn-trader-line__deals 7
          .mn-trader-line__copies 0
    .col-sm-12
      .mn-trader-line
        .mn-trader-line__person-data
          .mn-trader-line__logo
          .mn-trader-line__info
            .mn-trader-line__info__block
              p.mn-trader-line__info__block-name buyanprofitfx
                span.new new
              div.mn-trader-line__info__block-coins
                img(src="img/svg/btc.svg" title="bitcoin")
                img(src="img/svg/bitmex.svg" title="bitmex")
                button.copy-trader Копировать
          .mn-trader-line__profit 47.76%
          .mn-trader-line__risk
            span 1
          .mn-trader-line__lesion -22.97%
          .mn-trader-line__deals 7
          .mn-trader-line__copies 0
    .col-sm-12
      .mn-trader-line
        .mn-trader-line__person-data
          .mn-trader-line__logo
          .mn-trader-line__info
            .mn-trader-line__info__block
              p.mn-trader-line__info__block-name buyanprofitfx
                span.new new
              div.mn-trader-line__info__block-coins
                img(src="img/svg/btc.svg" title="bitcoin")
                img(src="img/svg/bitmex.svg" title="bitmex")
                button.copy-trader Копировать
          .mn-trader-line__profit 47.76%
          .mn-trader-line__risk
            span 1
          .mn-trader-line__lesion -22.97%
          .mn-trader-line__deals 7
          .mn-trader-line__copies 0
    .col-sm-12
      .mn-trader-line
        .mn-trader-line__person-data
          .mn-trader-line__logo
          .mn-trader-line__info
            .mn-trader-line__info__block
              p.mn-trader-line__info__block-name buyanprofitfx
                span.new new
              div.mn-trader-line__info__block-coins
                img(src="img/svg/btc.svg" title="bitcoin")
                img(src="img/svg/bitmex.svg" title="bitmex")
                button.copy-trader Копировать
          .mn-trader-line__profit 47.76%
          .mn-trader-line__risk
            span 1
          .mn-trader-line__lesion -22.97%
          .mn-trader-line__deals 7
          .mn-trader-line__copies 0