doctype
html
  head
    title Tindex
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="css/main.min.css")
    script(src="js/vendor.min.js")
  body
    include modules/header/header

    include modules/index/traders

    include modules/footer/footer