.mobile-top-line
  .mobile-top-logo
    img(src="img/svg/logo.svg")
  .mobile-top-burger
    .menu-toggle
      .hamburger
        span
        span
        span
      .cross
        span
        span
.mn-overlay
.top-line
  .container
    .row
      .col-sm-12
        .mn-mobile-logo
          img(src="img/svg/logo.svg")
        .mn-navbar.closed
          .mn-navbar__logo
            img(src="img/svg/logo.svg")
          ul.mn-navbar__navbar
            li.mn-navbar__item
              a(href="#") инвестиции
            li.active.mn-navbar__item
              a(href="#") трейдеры
            li.mn-navbar__item
              a(href="#") кошелек
            li.mn-navbar__item
              a(href="#") Реферальная программа
            li.mn-navbar__item.mn-dropdown
              span.mn-navbar__dropdown__trigger Скоро
              ul.mn-navbar__dropdown
                li.mn-navbar__dropdown__item
                  a(href="#") Социальный трейдинг
                li.mn-navbar__dropdown__item
                  a(href="#") Арбитраж
                li.mn-navbar__dropdown__item
                  a(href="#") Конструктор ботов
                li.mn-navbar__dropdown__item
                  a(href="#") Новости
                li.mn-navbar__dropdown__item
                  a(href="#") События
                li.mn-navbar__dropdown__item
                  a(href="#") Объединенный биржевой терминал


          .account.ml-auto
            button.mn-btn.registration Регистрация
            button.mn-btn.login Войти


            
              
            
          
    
